:root {
  font-family: Inter, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: dark;
  background: #0f1720;
}

html,
body,
#root {
  min-width: 100%;
  min-height: 100%;
}

html {
  background: #0f1720;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}
